@model DateTime

<div class="input-group date da" data-provide="datepicker">
    <input type="text" class="form-control" value="@Model.ToString("dd.MM.yyyy")" id="BirthDate" name="BirthDate">
    <div class="input-group-addon js-datepicker">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>