@using System.Reflection
@{
    var hidden = ViewData.ModelMetadata.Properties.Where(x => x.TemplateHint == "HiddenInput");
}

@foreach (var prop in ViewData.ModelMetadata.Properties.Where(x => x.TemplateHint != "HiddenInput"))
{
    <div class="form-group">
        @Html.Label(prop.PropertyName, htmlAttributes: new { @class = "control-label col-sm-3" })
        <div class="col-sm-offset-3">
            @Html.Editor(prop.PropertyName)
            @Html.ValidationMessage(prop.PropertyName)
        </div>
    </div>
}

@foreach (var prop in hidden)
{
    @Html.Hidden(prop.PropertyName)
}

